asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1642912811357/work
astroid==2.9.3
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
decouple==0.0.7
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1632758190537/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1638897748254/work
django-environ==0.8.1
django-extensions==3.1.5
djangorestframework==3.13.1
djongo==1.3.6
dnspython==2.2.1
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
mongoengine==0.24.0
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1643958890043/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
platformdirs==2.5.1
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1635832915144/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pydantic==1.9.0
pylint==2.12.2
pymongo==3.12.3
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pytest==7.0.1
pytest-django==4.5.2
python-dotenv==0.20.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1636140145796/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1644357575279/work
sqlparse==0.2.4
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1635836510383/work
