{% extends 'app/base.html' %}
{% load static %}
{% load filters %}

{% block head %}
    <link rel="stylesheet" href="{% static 'app/instructor/instructor.css' %}">
    <link rel="stylesheet" href="{% static 'app/instructor/review.css' %}">

{% endblock %}
{% block content %}
<section>
    <div class="row section-header">
        <h1>Scenario Inspection</h1>
        <ul>
            <li>User: {{ username }}</li>
            <li>Tries: {{ tries }}</li>
        </ul>
    </div>
    <div class="row">
        <div class="sm"></div>
        <div>
            <div class="row"></div>

            <table>
                <tr>
                    <td colspan="12"><h2>{{ name }}</h2></td>
                </tr>
            <tr>
                <td colspan="6">Score</td>
                <td colspan="6">Date</td>
            </tr>
                {%  for entry in user_data %}
                <tr onclick="location.href='/review/{{ entry |dict_key:'scenario_id' }}'" class="clickable">
                    <td colspan="6">{{ entry | dict_key:'score' }}</td>
                    <td colspan="6">{{ entry | dict_key:'time' | format_time }}</td>
                </tr>
                {% endfor %}
            </table>
                <div class="row"></div>
        </div>
        <div class="sm"></div>
    </div>

</section>

{% endblock %}