{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor Interface</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/instructor/instructor.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<section>
    <div class="row">
        <h1>SoftDSimulator Instructor Interface</h1>
    </div>
    <div class="row">

        <div class="xsm"></div>
        <div id="login">
            <div class="row">
                <h1>{{ header }}</h1>
            </div>
            <div class="row"></div>
            <div class="row">
                <p>{{ info }}</p>
            </div>
            <div class="row"></div>
            <form action="{{ url }}" method="post">
                {% csrf_token %}


                {% for snippet in snippets %}
                     {% include snippet %}
                {% endfor %}



                <div id="app" class="row">
                    <button id="add-sc-btn">
                        {{ btntext }}
                    </button>
                </div>
            </form>


        </div>
        <div class="xsm"></div>
    </div>
</section>


</body>
</html>