{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor Interface</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/instructor/instructor.css' %}">
</head>
<body>
<section>
    <div class="row">
        <h1>SoftDSimulator Instructor Interface</h1>
    </div>
    <div class="row">

        <div class="xsm"></div>
        <div id="login">
            <div class="row">
                <h1>Search Scenarios</h1>
            </div>
            <div class="row"></div>
            <div class="row">
                <p>Search for a Scenario by entering a <strong>ID</strong> or a <strong>Name</strong> or nothing to query all <strong>Scenarios</strong>.</p>
            </div>
            <div class="row"></div>
            <div class="row">
                <label for="SID">ID</label>
                <input name="SID" type="text">
            </div>
            <div class="row">
                <label for="SName">Name</label>
                <input name="SName" type="text">
            </div>
            <div class="row">
                <button>
                    Search
                </button>
            </div>

        </div>
        <div class="xsm"></div>
    </div>
</section>
</body>
</html>