{% extends 'app/base.html' %}
{% load static %}
{% load filters %}

{%  block head %}
    <link rel="stylesheet" href="{% static 'app/instructor/instructor.css' %}">
    <link rel="stylesheet" href="{% static 'app/instructor/review.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="row section-header">
            <h1>Scenario Inspection</h1>
            <ul>
                <li>Scenario: {{ overview.scenario_name }}</li>
            </ul>
        </div>
    <div class="row">
        <div class="sm"></div>
        <div>
            <div class="row"></div>

            <table>
                <tr>
                    <td colspan="12"><h2>{{ overview.scenario_name }}</h2></td>
                </tr>
                <tr>
                    <td colspan="6">
                        Total Tries: {{ overview.total_tries }}
                    </td>
                    <td colspan="6">
                        Total Users: {{ overview.total_users }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        Avg. Time: {{ overview.avg_time }}
                    </td>
                    <td colspan="6">
                        Best Score: {{ overview.best_score }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        SPACE
                    </td>
                    <td colspan="6">
                        90% Score: {{ overview.score_90 }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        SPACE
                    </td>
                    <td colspan="6">
                        75% Score: {{ overview.score_75 }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        SPACE
                    </td>
                    <td colspan="6">
                        50% Score: {{ overview.score_median }}
                    </td>
                </tr>
            </table>
                <div class="row"></div>
        </div>
        <div class="sm"></div>
    </div>

</section>

<section>
    <div class="row">
        <div class="sm"></div>
        <div>
            <div class="row"></div>

            <table>
                <tr>
                    <td colspan="12"><h2>Ranking</h2></td>
                </tr>

                    {% for rank in ranking %}
                        <tr onclick="location.href+='/{{ rank }}'" class="clickable">
                        <td colspan="6">{{ rank }}</td>
                        <td colspan="6">{{ ranking | dict_key:rank | dict_key:"score" }}</td>
                        </tr>
                    {% endfor %}


            </table>
                <div class="row"></div>
        </div>
        <div class="sm"></div>
    </div>
</section>

{% endblock %}