{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scenario Inspection</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/instructor/instructor.css' %}">
    <link rel="stylesheet" href="{% static 'app/instructor/review.css' %}">

</head>
<body>
<section>
    <div class="row">
        <h1>SoftDSimulator Scenario Inspection</h1>
        <p>{{ user }}</p>
    </div>
    <div class="row">
        <div class="sm"></div>
        <div>
            <div class="row"></div>

            <table>
                <tr>
                    <td colspan="12"><h2>{{ name }}</h2></td>
                </tr>
            <tr>
                <td colspan="6">Score</td>
                <td colspan="6">Date</td>
            </tr>
                {%  for entry in user %}
                <tr onclick="location.href='/review/{{ entry |dict_key:'scenario_id' }}'">
                    <td colspan="6">{{ entry | dict_key:'score' }}</td>
                    <td colspan="6">{{ entry | dict_key:'time' | format_time }}</td>
                </tr>
                {% endfor %}
            </table>
                <div class="row"></div>
        </div>
        <div class="sm"></div>
    </div>

</section>


</body>
</html>