{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playback</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/instructor/instructor.css' %}">
    <link rel="stylesheet" href="{% static 'app/instructor/review.css' %}">

</head>
<body>
<script>var events = {{ events|safe }}</script>

<section>
    <div class="row">
        <h1>SoftDSimulator Playback</h1>
    </div>
    <div class="row">

        <div class="sm"></div>
        <div>
            <div class="row"></div>
            {% for event in history.events %}
                <table>
                    <tr>
                        <td colspan="12"><h2>Event</h2></td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            Decision: {{ event.decision_index }}
                        </td>
                        <td colspan="3">
                            Day: {{ event.current_day }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12"><h3>Statistics</h3></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="title">Stress</td>
                        <td colspan="3" class="value">{{ event.stress | round }}% ({{ event.d_stress | round }})</td>
                        <td colspan="3" class="title">Cost</td>
                        <td colspan="3" class="value">{{ event.cost }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="title">Motivation</td>
                        <td colspan="3" class="value">{{ event.motivation | round }}% ({{ event.d_motivation }})</td>
                        <td colspan="3" class="title">Tasks Done</td>
                        <td colspan="3" class="value">{{ event.tasks_done }} ({{ event.d_tasks_done }})</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="title">Familiarity</td>
                        <td colspan="3" class="value">{{ event.familiarity | round }}% ({{ event.d_familiarity|round }}%)</td>
                        <td colspan="3" class="title">Total Tasks</td>
                        <td colspan="3" class="value">{{ event.tasks_total }} </td>
                    </tr>
                <tr>
                        <td colspan="12"><h3>Options</h3></td>
                    </tr>

                    {% for opt in event.user_opts %}
                        {% if opt.answers %}
                            <tr>
                                <td colspan="6" class="title">
                                    {{ opt.title }}
                                </td>
                                <td colspan="6" class="value">
                                    {% for a in opt.answers %}
                                        {{ a }}
                                    {% endfor %}
                                    {% else %}
                            <tr>
                            <td colspan="12">
                                <h3>{{ opt.title | title }}</h3>
                            </td>
                            </tr>
                            {% for key in opt.values %}
                                <tr>
                                <td colspan="6" class="title">{{ key | title }}</td>
                                <td colspan="6" class="value">{{ opt.values|dict_key:key }} ({{ opt.d_values|dict_key:key }})</td>
                                </tr>
                            {% endfor %}

                        {% endif %}

                    {% endfor %}


                </table>
                <div class="row"></div>
            {% endfor %}
        </div>
        <div class="sm"></div>
    </div>
</section>

</body>
</html>























