{% extends 'app/base.html' %}
{% load static %}
{% load filters %}


{% block head %}
    <link rel="stylesheet" href="{% static 'app/instructor/instructor.css' %}">
    <link rel="stylesheet" href="{% static 'app/instructor/review.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="row section-header">
        <h1>Review</h1>
        <ul>
            <li>User: {{ scenario.user }}</li>
            <li>Scenario: {{ scenario.template.name }}</li>
        </ul>
    </div>
<div class="row"></div>
    <div class="row">
        <div class="sm"></div>
        <table class="std-stripped">
            <tr>
                <td colspan="12"><h2 style="background-color: var(--blue)">Stats Overview</h2></td>
            </tr>
            <tr>
                <td colspan="6">
                    Username:
                </td>
                <td colspan="6">
                    {{ scenario.user }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Total Time:
                </td>
                <td colspan="6">
                    {{ history.total_time | time}}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Total Score:
                </td>
                <td colspan="6">
                    {{ scenario.total_score }}
                </td>
            </tr>
            <tr>
                <td colspan="6" title="This is the rank of the user compared to the highest score of every other player who played this scenario. For each player only the highest score is counted. Note that the current player may have a better rank as this might not be their best score of this scenario.">
                    User Rank:
                </td>
                <td colspan="6">
                    {{ ranking }} / {{ ranks }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Budget Score:
                </td>
                <td colspan="6">
                    {{ scenario.budget_score }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Budget Spend:
                </td>
                <td colspan="6">
                    $ {{ scenario.actual_cost | currency }} / {{ scenario.template.budget | currency }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Quality Score:
                </td>
                <td colspan="6">
                    {{ scenario.quality_score }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Time Score:
                </td>
                <td colspan="6">
                    {{ scenario.time_score }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Time Needed:
                </td>
                <td colspan="6">
                    {{ scenario.current_day }} / {{ scenario.template.scheduled_days }} days
                </td>
            </tr>
        </table>
        <div class="sm"></div>
    </div>
    <div class="row">

        <div class="sm"></div>
        <div>
            <div class="row"></div>
            {% for event in history.events %}
                <table>
                    <tr>
                        <td colspan="12"><h2>Week {{ event.week }}</h2></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            Decision: {{ event.decision_index }}
                        </td>
                        <td colspan="4">
                            Day: {{ event.current_day }}
                        </td>
                        <td colspan="4">
                            Time: {{ event.time }} secs
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12"><h3>Statistics</h3></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="title">Stress</td>
                        <td colspan="3" class="value">{{ event.stress | round }}% (<a class="{{ event.d_stress | css_color_class }}">{{ event.d_stress | round }}</a>)</td>
                        <td colspan="3" class="title">Cost</td>
                        <td colspan="3" class="value">{{ event.cost }}</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="title">Motivation</td>
                        <td colspan="3" class="value">{{ event.motivation | round }}% (<a class="{{ event.d_motivation | css_color_class }}">{{ event.d_motivation }}</a>)</td>
                        <td colspan="3" class="title">Tasks Done</td>
                        <td colspan="3" class="value">{{ event.tasks_done }} (<a class="{{ event.d_tasks_done | css_color_class }}">{{ event.d_tasks_done }}</a>)</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="title">Familiarity</td>
                        <td colspan="3" class="value">{{ event.familiarity | round }}% (<a class="{{ event.d_familiarity | css_color_class }}">{{ event.d_familiarity|round }}%</a>)</td>
                        <td colspan="3" class="title">Total Tasks</td>
                        <td colspan="3" class="value">{{ event.tasks_total }} </td>
                    </tr>
                    <tr>
                        <td colspan="12"><h3>Options</h3></td>
                    </tr>

                    {% for opt in event.user_opts %}
                        {% if opt.answers %}
                            <tr>
                                <td colspan="6" class="title">
                                    {{ opt.title }}
                                </td>
                                <td colspan="6" class="value {{ opt.changed | bold_if_true }}">
                                    {% for a in opt.answers %}
                                        {{ a }}
                                    {% endfor %}
                                    {% else %}
                            <tr>
                                <td colspan="12">
                                    <h3>{{ opt.title | title }}</h3>
                                </td>
                            </tr>
                            {% for key in opt.values %}
                                <tr>
                                    <td colspan="6" class="title">{{ key | title }}</td>
                                    <td colspan="6" class="value">{{ opt.values|dict_key:key }}
                                        (<a class="{{ opt.d_values|css_color_class_from_dict:key}}">{{ opt.d_values|dict_key:key }}</a>)
                                    </td>
                                </tr>
                            {% endfor %}

                        {% endif %}

                    {% endfor %}


                </table>
                <div class="row"></div>

            {% endfor %}
        </div>
        <div class="sm"></div>
    </div>
</section>

{% endblock %}