
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: lightgray;
    border-radius: 0.25rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table tr:first-of-type {
    background-color: rgba(99, 99, 99, 0.9);
}

table tr:first-of-type * {
    color: white;
    background-color: transparent;
    border-radius: 0.25rem 0.25rem 0 0;
}


tr:nth-child(2n+0) .title {
    background-color: rgba(99, 99, 99, 0.05)
}


tr:nth-child(2n+0) .value {
    background-color: rgba(99, 99, 99, 0.05)
}

