{% extends 'app/base.html' %}
{% load static %}

{% block nav-content %}
    <div class="row">

    <div id="task-board">
    Task Board
        <table class="task-chart shadow-all">
            <tr>
                <th>Todo</th>
                <th>Done</th>
                <th>Tested</th>
            </tr>
            <tr>
                <th>[[ tasks.todo | orEmpty]]</th>
                <th>[[ tasks.done | orEmpty]]</th>
                <th>[[ tasks.tested | orEmpty]]</th>
            </tr>
        </table>
    <table class="task-chart shadow-all">
            <tr>
                <th>Bugs</th>
                <th>SLW</th>
                <th>TLW</th>
            </tr>
            <tr>
                <th>[[ tasks.errors | orEmpty]]</th>
                <th>[[ tasks.done_week | orEmpty]]</th>
                <th>[[ tasks.tested_week | orEmpty]]</th>
            </tr>
        </table>
</div>
    <div class="row-container">
        <button class="unclickable">Monthly Salaries: [[ salaries | toCurrency ]]</button>
    </div>
{% endblock %}

{% block content %}
    <section id="main">
        <section class="main-division-third">
            <div class="division-title none-select">
                Scenario
            </div>

            <ul id="scenario">
                <li v-for="block in blocks">
                    <h3 class="element-header"> [[ block.header ]] </h3>
                    <p> [[ block.text ]] </p>
                </li>
            </ul>

        </section>
        <section class="main-division-third shadow-all">
            <div class="division-title none-select" title="Here you can find statistics">
                Statistics
            </div>

            <h3 class="element-header pointer none-select" onclick="toggleVisibility('cost-chart-container')">Cost <span
                    class="smaller">&#x25bc;</span></h3>
            <div id="cost-chart-container">
                <canvas id="cost-chart"></canvas>
            </div>

            <h3 class="element-header pointer none-select" onclick="toggleVisibility('tasks-chart-container')">Tasks /
                Timeline <span class="smaller">&#x25bc;</span></h3>
            <div id="tasks-chart-container">
                <canvas id="tasks-chart"></canvas>
            </div>

            <h3 class="element-header pointer none-select" onclick="toggleVisibility('team-container')">Team <span
                    class="smaller">&#x25bc;</span></h3>
            <div id="team-container" style="text-align: left">
                <p style="text-align: left"><strong>Familiarity:</strong> [[ familiarity | percentage ]]</p>
                <p style="text-align: left"><strong>Stress:</strong> [[ stress | percentage ]]</p>
                <p style="text-align: left"><strong>Motivation:</strong> [[ motivation | percentage ]]</p>
            </div>


            <div class="row"></div>


        </section>
        <section class="main-division-third">
            <div class="division-title none-select">
                Actions
            </div>

            <ul>
                <li v-for="row, i in numeric_rows">
                    <h3 :title="row.hover" class="element-header">
                        [[ row.title | uppercase]]
                    </h3>
                    <ul :id="row.id" class="row">
                        <li v-for="(val, key) in row.values" class="numeric-field">
                            <div class="staff-number">[[ dots(val) ]]</div>
                            <div class="staff-name">[[ key | uppercase ]]</div>
                            <div class="staff-button">
                                <button @click="numericPicker(i, key, 'sub')">-</button>
                                <button @click="numericPicker(i, key, 'add')">+</button>
                            </div>

                        </li>
                    </ul>
                    <button v-on:click="remove_numeric_row(i)" v-if="isScrumTeam(row)"
                            style="border-radius: 1rem; margin-top: 0.5rem" class="btn-danger">Remove Team
                    </button>
                </li>

            </ul>
            <template v-if="$data.scrum">
                {% include 'app/snippets/add_scrum_team_btn.html' %}
            </template>
            <ul>
                <li v-for="row, i in button_rows">
                    <h3 :title="row.hover" class="element-header">
                        [[ row.title ]]
                    </h3>
                    <div v-if="row.required" class="req" hidden></div>
                    <ul :id="row.id" class="button-row">
                        <li v-for="a, j in row.answers">
                            <button @click="vuePickButton(i, j)" v-bind:class="{ 'active-button': a.active }">[[ a.label
                                ]]
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>


            <template v-if="$data.meeting_planner">
                {% include 'app/snippets/meeting_planner.html' %}
            </template>

            <div class="spacer" style="height: 5rem;"></div>


            <div id="continue-container">
                <div class="fade-up"></div>
                <button id="continue-button" class="shadow-all" onclick="cont()">[[ continue_text ]]</button>
                
            </div>
            <div id="hide"></div>

            <div class="row"></div>
            <div class="row"></div>
            
        </section>

    </section>
    </div>
{% endblock %}

{% block endScripts %}
    <script src="{% static 'app/vueData.js' %}"></script>
    <script src="{% static 'app/libs/gantt/gantt.js' %}"></script>
    <script src="{% static 'app/charts.js' %}"></script>
{% endblock %}



