{% extends 'app/base.html' %}
{% load static %}

{% block nav-content %}
    <div class="row">
    <div id="task-container" class="row-container">
        <button>Tasks: [[ tasks_done ]] / [[ tasks_total ]]</button>
    </div>
    <div class="row-container">
        <button>Monthly Expenditure: [[ cost | toCurrency ]]</button>
    </div>
{% endblock %}

{% block content %}
    <section id="main">
        <section class="main-division-third">
            <div class="division-title none-select">
                Scenario
            </div>

            <ul id="scenario">
                <li v-for="block in blocks">
                    <h3 class="element-header"> [[ block.header ]] </h3>
                    <p> [[ block.text ]] </p>
                </li>
            </ul>

        </section>
        <section class="main-division-third">
            <div class="division-title none-select">
                Statistics
            </div>
            <h3 class="element-header pointer none-select" onclick="toggleVisibility('gantt-chart')">Project Plan <span
                    class="smaller">&#x25bc;</span></h3>
            <div id="gantt-chart" style="width:100%; height: 1rem;">

            </div>

            <h3 class="element-header pointer none-select" onclick="toggleVisibility('cost-chart-container')">Cost <span
                    class="smaller">&#x25bc;</span></h3>
            <div id="cost-chart-container">
                <canvas id="cost-chart"></canvas>
            </div>

            <h3 class="element-header pointer none-select" onclick="toggleVisibility('tasks-chart-container')">Tasks /
                Timeline <span class="smaller">&#x25bc;</span></h3>
            <div id="tasks-chart-container">
                <canvas id="tasks-chart"></canvas>
            </div>

            <h3 class="element-header pointer none-select" onclick="toggleVisibility('team-container')">Team <span
                    class="smaller">&#x25bc;</span></h3>
            <div id="team-container" style="text-align: left">
                <p style="text-align: left"><strong>Familiarity:</strong> [[ familiarity | percentage ]]</p>
                <p style="text-align: left"><strong>Stress:</strong> [[ stress | percentage ]]</p>
                <p style="text-align: left"><strong>Motivation:</strong> [[ motivation | percentage ]]</p>
            </div>

        </section>
        <section class="main-division-third">
            <div class="division-title none-select">
                Actions
            </div>

            <ul>
                <li v-for="row, i in numeric_rows">
                    <h3 class="element-header">
                        [[ row.title | uppercase]]
                    </h3>
                    <ul :id="row.id" class="row">
                        <li v-for="(val, key) in row.values" class="numeric-field">
                            <div class="staff-number">[[ dots(val) ]]</div>
                            <div class="staff-name">[[ key | uppercase ]]</div>
                            <div class="staff-button">
                                <button @click="numericPicker(i, key, 'sub')">-</button>
                                <button @click="numericPicker(i, key, 'add')">+</button>
                            </div>

                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li v-for="row, i in button_rows">
                    <h3 class="element-header">
                        [[ row.title ]]
                    </h3>
                    <ul :id="row.id" class="button-row">
                        <li v-for="a, j in row.answers">
                            <button @click="vuePickButton(i, j)" v-bind:class="{ 'active-button': a.active }">[[ a.label
                                ]]
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>


            <template v-if="$data.meeting_planner">
                {% include 'app/snippets/meeting_planner.html' %}
            </template>


            <div id="continue-container">
                <button onclick="cont()">[[ continue_text ]]</button>
            </div>

        </section>

    </section>
    </div>
{% endblock %}

{% block endScripts %}
    <script src="{% static 'app/vueData.js' %}"></script>
    <script src="{% static 'app/libs/gantt/gantt.js' %}"></script>
    <script src="{% static 'app/charts.js' %}"></script>
{% endblock %}



