{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>SoftDSim {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/libs/gantt/gantt.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'app/favicon.ico' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"
            integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block head %}{% endblock %}
</head>

<body>

<div id="vue">
    <nav class="shadow-all">
        <div class="logo none-select" onclick="window.location='/'">
            SoftDSim
        </div>
        <div id="nav-menu" class="row">
            {% block nav-content %}
            {% endblock %}
                <a href="#" class="link">
                    <div class="nav-opt">Hi {{ user }}!</div>
                </a>
                <a href="/" class="link">
                    <div class="nav-opt">Scenarios</div>
                </a>
                <a href="#" class="link">
                    <div class="nav-opt">Feedback</div>
                </a>
                <a href="/logout" class="link">
                    <div class="nav-opt">Logout</div>
                </a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
</div>
</body>
<script src="{% static 'app/model.js' %}"></script>
<script src="{% static 'app/index.js' %}"></script>
{% block endScripts %}{% endblock %}

</html>
