{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>SoftDSimulation</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/libs/gantt/gantt.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"
            integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

<div id="vue">
    <nav>
        <div class="logo">
            SoftDSim
        </div>
        <div class="row">
            <div id="task-container" class="row-container">
                <button>Tasks: [[ tasks_done ]] / [[ tasks_total ]]</button>
            </div>
            <div class="row-container">
                <button>Monthly Expenditure: [[ cost | toCurrency ]]</button>
            </div>
            <div class="menu">
                <a href="#" class="link">
                    <div class="nav-opt">My Account</div>
                </a>
                <a href="#" class="link">
                    <div class="nav-opt">Scenarios</div>
                </a>
                <a href="#" class="link">
                    <div class="nav-opt">Feedback</div>
                </a>
                <a href="#" class="link">
                    <div class="nav-opt">Logout</div>
                </a>
            </div>
        </div>

    </nav>


    <section id="main">
        <section class="main-division-third">
            <div class="division-title">
                Scenario
            </div>

            <ul id="scenario">
                <li v-for="block in blocks">
                    <h3 class="element-header"> [[ block.header ]] </h3>
                    <p> [[ block.text ]] </p>
                </li>
            </ul>

        </section>
        <section class="main-division-third">
            <div class="division-title">
                Statistics
            </div>
            <h3 class="element-header">Project Plan</h3>
            <div id="gantt-chart" style="width:100%; height: 10rem;">

            </div>

            <h3 class="element-header">Cost</h3>
            <div>
                <canvas id="cost-chart"></canvas>
            </div>

            <h3 class="element-header">Tasks / Timeline</h3>
            <div>
                <canvas id="tasks-chart"></canvas>
            </div>

        </section>
        <section class="main-division-third">
            <div class="division-title">
                Actions
            </div>

            <h3 class="element-header">
                Model
            </h3>
            <div id="model-picker-container" class="button-row row-3">
                <button onclick="pickButton(0, 'model-picker-container', 3)">Waterfall</button>
                <button onclick="pickButton(1, 'model-picker-container', 3)">Scrum</button>
                <button onclick="pickButton(2, 'model-picker-container', 3)">Kanban</button>
            </div>

            <h3 class="element-header">
                Product Life Cycle
            </h3>
            <div id="lifecycle-picker-container" class="button-row row-4">
                <button onclick="pickButton(0, 'lifecycle-picker-container', 4)">Incremental</button>
                <button onclick="pickButton(1, 'lifecycle-picker-container', 4)">Predictive</button>
                <button onclick="pickButton(2, 'lifecycle-picker-container', 4)">Iterative</button>
                <button onclick="pickButton(3, 'lifecycle-picker-container', 4)">Agile</button>
            </div>

            <h3 class="element-header">
                Staff
            </h3>
            <div id="staff-picker-container">
                <div id="staff-number-container">
                    <div id="staff-number-junior" class="staff-number">[[ staff.junior ]]</div>
                    <div id="staff-number-senior" class="staff-number">[[ staff.senior ]]</div>
                    <div id="staff-number-expert" class="staff-number">[[ staff.expert ]]</div>
                    <div id="staff-number-consultant" class="staff-number"></div>
                </div>
                <div id="staff-name-container">
                    <div class="staff-name">Junior</div>
                    <div class="staff-name">Senior</div>
                    <div class="staff-name">Expert</div>
                    <div class="staff-name">Consultant</div>
                </div>
                <div id="staff-button-container">
                    <div class="staff-button">
                        <button onclick="pickerAdd('junior')">+</button>
                        <button onclick="pickerSub('junior')">-</button>
                    </div>
                    <div class="staff-button">
                        <button onclick="pickerAdd('senior')">+</button>
                        <button onclick="pickerSub('senior')">-</button>
                    </div>
                    <div class="staff-button">
                        <button onclick="pickerAdd('expert')">+</button>
                        <button onclick="pickerSub('expert')">-</button>
                    </div>
                    <div class="staff-button">
                        <button onclick="pickerAdd(3)">+</button>
                        <button onclick="pickerSub(3)">-</button>
                    </div>
                </div>
            </div>
            <h3 class="element-header">
                Meetings
            </h3>
            <div class="button-row row-3">
                <button onclick="subMeeting()">-</button>
                <button onclick="" disabled><strong>[[ meetings ]]</strong></button>
                <button onclick="addMeeting()">+</button>
            </div>
            <h3 class="element-header">
                Trainings
            </h3>
            <h3 class="element-header">
                Activity Distribution
            </h3>
            <div id="activity-distribution-container">
                <div class="activity-bar"></div>
                <div class="activity-bar"></div>
                <div class="activity-bar"></div>
            </div>

            <div id="continue-container">
                <button onclick="cont()">[[ continue_text ]]</button>
            </div>

        </section>

    </section>
</div>
</body>
<script src="{% static 'app/model.js' %}"></script>
<script src="{% static 'app/index.js' %}"></script>
<script src="{% static 'app/libs/gantt/gantt.js' %}"></script>


</html>
