{% extends 'app/base.html' %}



{% block content %}

    {% if request.user.is_staff  %}
        <div class="row section-header">
        <h1>Staff Options</h1>
        <ul>
            <li>This Area is only visible for staff users.</li>
        </ul>
    </div>

        <div class="row button-bar" style="width: 50%; margin-right: auto; margin-left: auto">
        <button onclick="location.href='/createusers'">Create Users</button>
        <button onclick="location.href='/instructor'">Scenario Statistics</button>
        </div>

    {% endif %}

       <div class="row section-header">
        <h1>Active Scenarios</h1>
        <ul>
            <li>An overview of all active scenarios.</li>
        </ul>
    </div>
    <div class="row">
    <div class="xsm"></div>
        <table style="width: 100%">
            <tr>
                <th>Name</th>
                <th>Tries</th>
                <th>Best Score</th>
                <th>Rank</th>
            </tr>

                {% for scenario in scenarios %}
                    <tr>
                    <td>
                        <a href="new/{{ scenario.id }}">{{ scenario.name }}</a>
                    </td>
                    <td style="text-align: center">{{ scenario.tries }}</td>
                    <td style="text-align: center">{{ scenario.best_score }}</td>
                    <td style="text-align: center">{{ scenario.rank }}</td>

                    </tr>
                {% endfor %}

        </table>
    <div class="xsm"></div>
    </div>



{% endblock %}