@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* COLORS */
:root {
    --neon: #1b98e0;
    --blue: #8b85c1;
    --black: #22181cff;
    --jet: #2e3532;
    --red: #8b2635;
    --green: green;
    --light: #E0E2DB;
    --light-s2: #C9CBC5;
    --light-s3: #B3B4AF;
    --light-s4: #9C9E99;
    --light-s5: #868783;
    --light-s6: #70716D;
    --light-s7: #595A57;
    --light-s8: #434341;
    --light-s9: #2C2D2B;
    --bg-light: #E0E2DB;
}

/* ======== GENERAL  ======== */

/* Fonts */

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--black);
    list-style-type: none;
}

html, body {
    height: 100%;
    width: 100%;
}

#vue {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}


ul {
    list-style-type: none;
}

.title-row > * {
    margin-right: auto;
    margin-left: auto;
}

.full {
    width: 100%;
}

.half-box {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.spaced > * {
    padding-bottom: 0.5rem;
}

.spacer {
    width: 100%;
    height: 1rem;
}

table {
    width: 100%;
}

.smaller {
    font-size: 80%;
}

.pointer {
    cursor: pointer;
}

.none-select {
    user-select: none;
}


/* ======== MAIN AREA  ======== */

#main {
    height: calc(100% - 101px);
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*General*/

.element-header {
    margin-top: 1.5rem;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Functional Thirds */

.main-division-third {
    height: 100%;
    display: flex;
    width: calc(100% / 3);
    flex-direction: column;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    overflow: auto;
}

.main-division-third:nth-child(2n) {
    background-color: var(--bg-light)
}

.main-division-third > .division-title {
    margin-top: 1rem;
    text-align: center;
    height: 2rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8rem;
    padding-bottom: 1rem;

}

.main-division-third * {
    width: 100%;
}


.main-division-third p {
    text-align: center;
}


/* Buttons */

button {
    border: 0;
    cursor: pointer;
    height: 1.5rem;
    background-color: var(--light);
    user-select: none;
}

button:hover {
    border: none;
    color: var(--neon)
}

button:disabled:hover {
    border: none;
    background-color: var(--light);
    cursor: not-allowed;
    color: var(--red)
}

button:active {
    border: none;
    background-color: var(--light-s2);
    box-shadow: var(--light-s4) 3px 3px 6px 0px inset, var(--light-s2) -3px -3px 6px 1px inset;
}

button.active-button {
    color: var(--neon);
    font-weight: bold;
}

.button-row {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.button-row > button {
    width: 100%;
}


.button-row > li:last-child button, .button-row > button:last-child {
    border-radius: 0 1rem 1rem 0;
}

.button-row > li:first-child button, .button-row > button:first-child {
    border-radius: 1rem 0 0 1rem;
}


.btn-danger:hover {
    background-color: var(--red);
    color: white;
    font-weight: bold;
}

button.unclickable, button.unclickable:hover, button.unclickable:active {
    cursor: default;
    background-color: var(--light);
    color: var(--jet);
    box-shadow: none;
    border: none;
}

/* Charts */

.chart-container {
    width: 100%;
}

#tasks-chart {
    min-height: 200px;
}

#cost-chart {
    min-height: 200px;
}


/* numeric fields */
.numeric-field {
    text-align: center;
    width: 100%;
}

.staff-number {
    text-align: center;
    height: 1rem;
}

.staff-name{
    font-size: 0.75rem;
}

#staff-name-container {
    width: 100%;
    display: flex;
    flex-flow: row;
}

#staff-name-container > .staff-name {
    width: calc(100% / 4);
    text-align: center;
}

.staff-button {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}


.staff-button > button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
!important;
    align-items: center;
    justify-content: center;
}


/* Activity Distribution Chart */
.activity-bar-container {
    width: 100%;
    height: 2rem;
}

.activity-bar {
    float: left;
    height: 2rem;
}


/* Continue Button */

#continue-container {
    width: calc(100% / 3 - 3.4rem);
    bottom: 2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#continue-container > button {
    width: 100%;
}

#hide {
    width: calc(100% / 3 - 3.4rem);
    bottom: 0;
    height: 3rem;
    background-color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}


/* NAVIGATION */

/* ======== NAV BAR  ======== */
nav {
    display: block;
    width: 100%;
    height: 100px;
    background-color: var(--bg-light);
    border-bottom: 1px solid var(--jet);
    text-align: right;
    position: relative;
}

nav .logo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: var(--jet);
    border-right: 1px solid var(--jet);
    height: 100%;
    width: 20%;
    text-align: center;
    line-height: 90px;
    cursor: pointer;
}

#nav-menu {
    width: 80%;
    float: right;
    justify-content: flex-end;
}

.link {
    text-decoration: none;

}

.link * {
    display: inline-block;
    position: relative;
    color: var(--jet);
    font-size: 1rem;
    margin: 1rem;
}

.link:hover * {
    color: var(--neon);
}

.row{
    width: 100%;
    min-height: 3rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0;
}

.row > * {
    width: 100%;
}

nav .row > div {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.row-container > button {
    width: 100%;
    height: 100%;
}



tr.clickable:hover {
    background-color: rgba(99, 99, 99, 0.12);
}

.clickable {
    cursor: pointer;
}

table.std-stripped tr:nth-child(even) > td {
    background-color: rgba(99, 99, 99, 0.05);
}

.head {
    background-color: var(--blue);
}


.button-bar > button {
    width: 100%;
    max-width: 10rem;
    height: 2rem;
    border-radius: 0.1rem;
    margin-bottom: 0.1rem;
}


.section-header {
    border-bottom: 1px solid var(--jet);
    font-weight: normal;
}


.section-header > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-header > ul > li {
  margin: 1rem;
}


.positive {
    color: var(--green);
}
.negative {
    color: var(--red);
}


.bold {
    font-weight: bold;
}

#login-container > input {
    max-width: 10rem;
    float: right;
    padding-left: 0.2rem;
}

.fade-up {
    height: 1rem;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
}


.shadow-all {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table.task-chart{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ba98ff;
    border-radius: 0.1rem;
    table-layout: fixed;
}
table.task-chart * {
    font-size: 0.75rem;
    font-weight: normal;
}

table.task-chart:nth-of-type(2n){
    margin-top: 0.4rem;
}

#task-board {
    width: 200%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.33rem;
}

table.task-chart tr th:nth-child(2n) {
    <!--background-color: yellow;-->
}
table.task-chart tr th:nth-child(3n) {
    <!--background-color: green;-->
}


